{% extends 'mailing/base.html' %}
{% load my_tags %}
{% block content %}
{% if perms.mailing.can_disable_newsletter and perms.users.can_disable_user %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <h1><a href="{% url 'users:user_list' %}" class="text-primary">Пользователи</a></h1>
            <h1><a href="{% url 'mailing:newsletter_list' %}" class="text-primary">Рассылки</a></h1>
        </div>
    </div>
</div>
{% else %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card-body">
                    <h2 class="card-text">{{ newsletters }}</h2>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h2 class="card-text">{{ active_newsletters }}</h2>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h2 class="card-text">{{ clients }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <h4 class="text header mb-3"> Может быть интересно: </h4>
</div>

<div class="row">
    {% for obj in blog %}
    <div class="col-4 col-xs-12">
        <div class="card mb-3 box-shadow">
            <img src="{{ obj.image | media_filter }}" class="rounded float-start">
            <div class="card-header">
                <h5 class="my-0 font-weight-normal">{{ obj.title }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ obj.content|truncatechars:100 }}</p>
                <p class="card-text">Дата: {{ obj.created_at}}</p>
                <p class="card-text">Просмотров: {{ obj.views_count }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
