{% extends 'mailing/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Восстановление пароля</h5>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Введите адрес электронной почты:</label>
                            {{ form.email }}
                        </div>
                        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
